---
layout: default
title: "kasinxc"
---

<h2>{{ page.title }}</h2>

My personal website.

<p>Articles</p>

<ul>

　　{% for post in site.posts %}

　　　　<li>{{ post.date | date_to_string  }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>

　　{% endfor %}

</ul>

<div id="categories-3" class="left">
    <h3>Categories</h3>
    <ul>
        {% for cat in site.categories %}
            {{ site.baseurl }}{{ categories.url }}
            {{ cat[0] }}
            {{ site.baseurl }}{{ cat[0].url }}
            <li><a href="{{ site.baseurl }}{{ categories.url }}">{{ cat[0] }}</a></li>

        {% endfor %}
     </ul>
</div>

<p> Tags </p>

<ul>
    {% comment %}
    =======================
    The purpose of this snippet is to list all the tags you have in your site.
    =======================
    {% endcomment %}
    {% for tag in site.tags %}
        <a href="#{{ tag | slugify }}"> {{ tag }} </a>
    {% endfor %}
 </ul>

